extends ../layout

block content
	h1 Players
	hr
	.row.section
		for name in docs
			if (name != "")
				.col.s12.m6.l3
					.card.grey.white-text
						.card-content
							.card-title= name
								a(href=`/players/${name}`).white-text.grey.right
									i.material-icons info
						