if messages.error
	.section
		.row
			.col.s12
				.card.red
					.card-content.white-text
						span.card-title Oops!
						for error in messages.error
							p= error.msg

if messages.info
	.section
		.row
			.col.s12
				.card.blue.darken-2
					.card-content.white-text
						span.card-title Hey, Listen!
						for info in messages.info
							p= info.msg

if messages.success
	.section
		.row
			.col.s12
				.card.green
					.card-content.white-text
						span.card-title Winning!
						for success in messages.success
							p= success.msg
