nav.grey.darken-2
	div.nav-wrapper.container
		a.brand-logo(href="/")
			img(src="/img/acrisius-icon.png").acrisius-logo
			span Acrisius
		ul.nav-mobile.right
			li(class=(title == "Top") ? "active" : undefined)
				a(href="/players") Players
			li(class=(title == "New") ? "active" : undefined)
				a(href="/server") Servers
			li.grey.darken-2
				a.grey-text.text-darken-2 &nbsp;
