extends layout

block content
	h1 Welcome to Acrisius
	hr
	.row.section
		.col.s12.m6.l4
			.icon-block
				h2.center.grey-text.text-darken-2
					i.material-icons accessibility
				h5.center
					a.grey-text.text-darken-2 Player History
				p.center Track user statistics such as average KD, favorite gametype, and more.
				p.center
					a(href="/players").btn.grey.darken-2 View Players
		.col.s12.m6.l4
			.icon-block
				h2.center.grey-text.text-darken-2
					i.material-icons access_time
				h5.center
					a.grey-text.text-darken-2 Server History
				p.center Check historical server data such as uptimes, average players, and most common game modes.
				p.center
					a(href="/servers").btn.grey.darken-2 View Servers
		.col.s12.m6.l4
			.icon-block
				h2.center.grey-text.text-darken-2
					i.material-icons grain
				h5.center
					a.grey-text.text-darken-2 Raw Data (BETA)
				p.center Submit queries to our dataset and get specific results.
				p &nbsp;
				p.center
					a(href="/").btn-flat.darken-2 Offline!