doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compativle', content='IE=edge')
		meta(name="viewport", content="width=device-width, intial-scale=1.0")
		meta(name="theme-color", content="#DC143C")

		title #{title} - Acrisius

		link(rel="shortcut icon", href="/favicon.png")
		link(rel="stylesheet", "href"="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nunito")
		link(rel="stylesheet", href="/materialize/dist/css/materialize.min.css")
		link(rel="stylesheet", href="/css/main.css")
		
		block ext-styles

	body
		include partials/header

		.container

			block content
		
		include partials/footer

		script(src="/jquery/dist/jquery.min.js")
		script(src="/materialize/dist/js/materialize.min.js")

		block ext-scripts
